$dark-blue: #2f323a; //Dark Font - Footer
$blue: #70798c; //Servicios
$green: #a1cca5; //Team green
$pink: #c38d94; //Contacto
$frozen-white: #f5f1ed; //White Text
$white-footer:#c5cbd3; //White Text for Footer
$red-logo: #b02e0c;
