@import "colors.scss";
@import "header.scss";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: $dark-blue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
}

.cleaner {
  clear: both;
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.banner {
  width: 100%;
  background: url('../img/banner.jpg');
  height: 600px;
  background-size: cover;
  .container h1 {
    padding-top: 192px;
    color: white;
    font-size: 4em;
    width: 70%;
    font-weight: 400;
  }
  .container p {
    color: white;
    font-size: 1.5em;
    padding-top: 25px;
    width: 50%;
    margin-bottom: 60px;
  }
  .container p:last-child {
    font-size: 1em;
    padding-top: 20px;
  }
}

.trabajos:after , .servicios:after , .team:after , .contacto:after {
  display: block;
  clear: both;
  content:"";
}

.trabajos {
  width: 100%;
  background-color: white;
  padding: 100px 0px;
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
  }
  .nota {
    background-color: $frozen-white;
    float: left;
    width: 48%;
    margin-bottom: 60px;
    // line-height: 0;
  }
  .primer {
    margin-right: 2%;
    width: 50%;
  }
  .work-1 {
    background: url('../img/work-1.png');
  }
  .work-2 {
    background: url('../img/work-2.png');
  }
  .work-3 {
    background: url('../img/work-3.png');
  }
  .work-4 {
    background: url('../img/work-4.png');
  }
  .work-5 {
    background: url('../img/work-5.png');
  }
  .work-6 {
    background: url('../img/work-6.png');
  }
  .work-1-2 {
    background: url('../img/work1-2.png');
  }
  .work-2-2 {
    background: url('../img/work2-2.png');
  }
  .work-3-2 {
    background: url('../img/work3-2.png');
  }
  .work-4-2 {
    background: url('../img/work4-2.png');
  }
  .work-5-2 {
    background: url('../img/work5-2.png');
  }
  .work-6-2 {
    background: url('../img/work6-2.png');
  }
  .work-box{
    width:50%;
    float: left;
    position: relative;
    padding-top: 35%;
    overflow: hidden;
    perspective: 300px;
    background: {
      size: cover;
      position: center center;
      repeat:no-repeat;
      // image: url('../img/work-2.png');
    }

    .overlay {
      position: absolute;
      height: 100%;
      top: -50%;
      left: 0px;
      right: 0px;
      bottom: null;
      background: transparentize($green, 0.1);
      opacity: 0;
      transition: 250ms ease-in-out;
      transform: rotateX(90deg);
      transform-origin: center bottom;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      h2 {
        padding-top: 100px;
        display: block;
        opacity: 0;
        font-size: 2em;
        transition: 200ms 100ms ease-in-out;
        transform: scale(0.5);
        color: $frozen-white;
      }
    }
    &:hover .overlay{
      position: absolute;
      top: 0%;
      right: 0px;
      bottom: null;
      left: 0px;
      cursor: pointer;
      transform: rotateX(0deg);
      opacity: 1;
    }
    &:hover .overlay h2 {
      opacity: 1;
      transform: scale(1);
    }
  }
  .proceso-cta {
    background-color: $dark-blue;
    color: $frozen-white;
    padding: 15px 25px;
    font-size: 1.2em;
    display: block;
    width: 20%;
    margin: auto;
    text-align: center;
  }
}

.servicios {
  width: 100%;
  background-color: $blue;
  padding: 100px 0px;
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
    color: $frozen-white;
  }
  .service-note {
    width: 32%;
    float: left;
    height: 200px;
    background-color: $frozen-white;
  }
  .service-margin {
    width: 33%;
    margin-right: 1%;
  }
}

.team {
  width: 100%;
  background-color: white;
  padding: 100px 0px 60px 0px;
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
    color: $dark-blue;
  }
  .team-note {
    width: 31.3%;
    float: left;
    background-color: $green;
    height: 100px;
    margin-bottom: 60px;
  }
  .team-margin{
    width: 32.3%;
    margin-right: 2%;
  }
}

.contacto {
  width: 100%;
  background-color: $pink;
  padding: 100px 0px;
  h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: $frozen-white;
  }
  .contact-form {
    width: 100%;
    .campos {
      width: 25.3%;
      float: left;
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1.3em;
    }
    .campos-margin {
      width: 25.3%;
      margin-right: 12%;
    }
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 1.3em;
      margin-bottom: 20px;
    }
    .boton{
      border: none;
      border-radius: 5px;
      padding: 10px;
      background: white;
      display: block;
      width: 25%;
      position: absolute;
      right: 0;
      font-size: 1.3em;
    }
  }
}

footer {
  width:100%;
  background-color: $dark-blue;
  padding: 100px 0px;
  color: $white-footer;
  .footer-logo{
    width: 200px;
  }
  ul {
    position: absolute;
    right: 0;
    top: 0;
    li {
      display: inline;
      padding: 0px 10px;
      span {
        color: $white-footer;
        font-size: 3em;
        transition: 200ms ease-in-out;
        &:hover{
          color: $green;
          cursor: pointer;
        }
      }
    }
  }
  .borde {
    border:solid 1px $white-footer;
    margin: 40px 0px;
  }
  p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .info {
    display: block;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

@media(max-width:768px) {
  body{
    font-size: 12px;
  }
  .container {
    max-width: 95%;
  }
  .banner {
    height: 700px;
    .container h1 {
      padding-top: 130px;
      width:100%;
    }
    .container img {
      width: 15px;
    }
    .container p {
      width: 60%;
      margin-bottom: 30px;
    }
  }
  .trabajos {
    .proceso-cta {
      width: 50%;
    }
  }
  .servicios {
    .service-note {
      width: 49%;
      margin-bottom: 10px;
      &:last-child {
        clear: both;
        display: block;
        margin: 0px auto 0px auto;
        width: 99%;
      }
    }
  }
  .team {
    .team-cleaner {
      clear: both;
    }
    .team-note {
      width: 100%;
    }
    .team-margin{
      margin-right: 0%;
      width: 100%;
    }
  }
}

@media(max-width:480px) {
  .banner {
    .container p {
      width: 100%;
    }
  }
  .trabajos {
    .proceso-cta {
      width: 100%;
    }
    .nota {
      height: 150px;
      width: 100%;
      margin-bottom: 60px;
    }
  }
  .servicios {
    .service-note {
      width: 100%;
    }
  }
  .contacto {
    .contact-form {
      .campos {
        width: 100%;
      }
      .boton {
        width: 100%;
      }
    }
  }
  footer {
    ul {
    left: 0;
    top: 80px;
    li span {
      font-size: 2.5em;
    }
    }
    .borde {
      margin:110px 0px 40px 0px;
    }
  }
}

@media(max-width:350px) {
  .banner {
    .container h1 {
      font-size: 3em;
    }
  }
}
