@import "colors.scss";
@import "header.scss";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.banner {
  width: 100%;
  background: url('../img/banner.jpg');
  height: 600px;
  background-size: cover;
  .container h1 {
    padding-top: 250px;
    color: white;
    font-size: 4em;
    width: 70%;
  }
}
